.hero2{
  height: 100vh;
  padding:0 80px;
}

.awardtab{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rightaward{
width: 50%;
height: 450px;
margin-top: 50px;
}

.totalaward{
  margin-top: 100px;
  width: 40%;
  height: 500px;
}

.recentAward{
  display: none;
}

.awarimage {
  border-radius: 0.75rem 0.75rem 0 0; /* Equivalent to rounded-t-xl */
  height: 300px;
  width: 300px;
  margin: 0 auto;

}

.totalawardData {
  border-radius: 0 0 1rem 1rem; /* Equivalent to rounded-b-2xl */
  height: auto;
  width: 300px;
  margin: 0 auto;
  background-color: #ebf8ff; /* Equivalent to bg-blue-50 */
}

.awardtab h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}



@media screen and (max-width: 936px) {
  .hero2{
    height: 90vh;
    padding:0px 50px;
  }

  .awardtab h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .awardtab{
    flex-direction: column;
    width: 100%;
    height: 80vh;
    gap: 40px;
  }
  .totalaward{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 40px 0;
    width: 100%;
  }
  .rightaward{
    width: 100%;
    margin-top: 50px;
  }

  .totalaward{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    display: flex;
    gap:50px;
    align-items: center;
  }
  .awarimage {
    border-radius: 0.75rem 0.75rem 0 0; /* Equivalent to rounded-t-xl */
    height: 300px;
    width: 300px;
  }
  
  .totalawardData {
    border-radius: 0 0 1rem 1rem; /* Equivalent to rounded-b-2xl */
    height: auto;
    width: 300px;
    background-color: #ebf8ff; /* Equivalent to bg-blue-50 */
  }
  .recentAward{
    display: initial;
  }
  
}

@media screen and (max-width: 600px) {
  .hero2{
    margin-top: 220px;
    height: 100vh;
    padding:10px 30px;
  }

  .awardtab h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .awardtab{
    width: 100%;
    height: 70vh;
  }

  
  .totalaward{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
  }

  .recentAward{
    display: initial;
  }
}