.main-container {
  height: 500px;
  width: 1200px;
  margin-top: 50px;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  background-color: rgb(253,158,206);
}

.Family-info{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
background-color: rgb(255,141,198);
}

.Family-info h1,h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.Family-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover; /* This will fill the entire circle */
  object-position: top; /* Aligns the top part of the image */
}

.Family-info p {
  text-align: center;
}
