.MainHero{
  background-color: rgb(251,157,195);
  width: 100%;
  height:90vh;
  padding: 50px 80px;
margin-top: 10vh;
display: flex;
}

.SaiImage{
  height: 300px;
  width: 300px;
  object-fit:fill;
  background-color: green;
  border-radius: 50%;
  margin-bottom: 20px;
}

.img-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img-info h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.img-info p {
  font-size: 1.3rem;
  font-weight: 500;
}

.right-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px
}

.right-info h1 {
  font-size: 2rem;
  font-weight: 700;
}

.right-info h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.right-info p {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

.contactlogo {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  padding: 0px;
  background-color: white;
}

.contactlogo:hover {
  padding: 5px;
  background-color: rgb(249, 107, 165);
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 936px) {

  .right-info h1 {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .contactlogo {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    padding: 0px;
    background-color: white;
  }
  
  .contactlogo:hover {
    padding: 3px;
    background-color: rgb(249, 107, 165);
    transition: all 0.3s ease-in-out;
  }
  

  .right-info h2 {
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .right-info p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  
  .SaiImage{
    height: 200px;
    width: 200px;
    object-fit:fill;
    background-color: green;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .img-info h1 {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .img-info p {
    font-size: 12px;
    font-weight: 500;
  }
  
  .MainHero{
    background-color: rgb(251,157,195);
    width: 100%;
    height:90vh;
    padding: 50px 50px;
  margin-top: 10vh;
  display: flex;
  }
  
}

@media screen and (max-width:600px) {
  .MainHero{
    background-color: rgb(251,157,195);
    width: 100%;
    height:90vh;
    padding: 50px 80px;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap:40px;
  }
  .img-info{
    width: 100%;
  }

  .right-info {
    width: 100%;
  }
}